.box {
  width: 10rem;
  height: 10rem;
  background-color: green;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 250ms ease;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: $media-md) {
      flex-direction: row;
    }
  }
  &--translate {
    &:hover {
      transform: translate3d(50px, 0, 0);
    }
  }
  &--rotate {
    &:hover {
      transform: rotate3d(0, 0, 1, 90deg);
    }
  }
  &--scale {
    &:hover {
      transform: scale(2, 0.5);
    }
    &:active {
      transform: scale(0.8);
    }
  }
  &--skew {
    &:hover {
      transform: skew(30deg);
    }
  }
}
