@keyframes heart-left {
  0% {
    background-color: rgb(46, 240, 55);
    transform: skew(30deg);
  }
  100% {
    background-color: rgb(220, 20, 160);
    transform: skew(55deg);
  }
}

.btn {
  font-size: 1.5rem;
  background-color: rgb(238, 29, 29);
  display: inline-flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: white;
  width: 100%;

  @media (min-width: $media-md) {
    width: 15rem;
  }
  &__heart {
    width: 1.5rem;
    margin-left: 1rem;
  }
  &--animate {
    &:active {
      animation: heart-left 1.5s infinite;
    }
  }
}
